.btn
  display: flex
  justify-content: center
  align-items: stretch
  background-color: #1e88e5
  color: #fff
  text-transform: uppercase
  border: 0
  outline: none
  border-radius: 3px
  margin: 0
  transition: all 0.3s
  font-size: 16px
  padding: 0
  &:hover
    background-color: #1565c0
  span
    padding: 10px 16px
  img
    padding: 0 10px
    max-width: 40px
    transition: all 0.3s
    background-color: #1565c0
    &:hover
      background-color: #424242
  &-
    &green
      background-color: #8bc34a
      &:hover
        background-color: #75d00b
    &red
      background-color: #f44336
