html
  font-size: 10px
body
  font-family: Roboto, sans-serif
  font-size: 1.4rem

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2px
  margin: 20px 0

.main-wrapper
  background-color: #544580

.sidebar
  background-color: #fff
  padding: 20px
  margin: 20px 0
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
