html
  font-size: 10px
body
  font-family: Roboto, sans-serif
  font-size: 1.4rem
*
  box-sizing: border-box
a
  text-decoration: none !important
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2px
  margin: 20px 0
hr
  margin: 20px 0
  color: #e4e4e4
  background-color: #e4e4e4
  border: 0
  height: 2px
.main-wrapper
  background-color: #544580
.sidebar
  background-color: #fff
  padding: 20px
  margin: 20px 0
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
.table
  padding: 20px
  background-color: #fff
  margin: 20px
  &-
    &row
      width: 100%
      display: flex
      flex-wrap: wrap
      padding: 10px 0
    &col
      display: flex
      align-items: center
      &-
        &left
          justify-content: flex-start
        &right
          justify-content: flex-end
        &center
          justify-content: center
    &header
      background-color: #ccc
.remove-img
  background-color: #544580
  cursor: pointer
  border-radius: 50%
  padding: 5px
  width: 20px
  margin: 0 20px 0 0
  &:hover
    background-color: #866bd4
.cart-page
  &__
    &empty
      display: flex
      justify-content: center
      align-items: center
      background-color: #fff
      flex-direction: column
      padding: 30px
      margin: 20px auto
      h1
        font-size: 22px
    &summary
      font-weight: 700
      font-size: 18px
.single-product
  padding: 40px 0
  display: flex
  &:after
    content: ""
    display: table
    clear: both
  &__
    &image, &content
      padding: 40px
      background-color: #fff
      margin: 20px
      box-sizing: border-box
    &image
      img
        width: 100%
    &title
      font-size: 18px
      color: #000
      font-family: 'Raleway', sans-serif
      font-weight: 900
      margin-top: 0
    &price
      font-size: 20px
      font-weight: 900
      font-family: 'Roboto', sans-serif
      background-color: #544580
      color: #fff
      padding: 10px
      display: inline-block
  &-
    &row
      padding-bottom: 20px
      min-height: 44px
      font-weight: 900
      display: flex
      justify-content: space-between
      align-items: center
      &:last-child
        padding-bottom: 10px
      span
        color: #544580
    &cat
      .chip
        &:last-child
          margin-right: 0
    &colors
      display: flex
      i
        margin-right: 10px
        &:last-child
          margin-right: 0