html
  font-size: 10px
body
  font-family: Roboto, sans-serif
  font-size: 1.4rem
*
  box-sizing: border-box
a
  text-decoration: none !important
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2px
  margin: 20px 0
hr
  margin: 20px 0
  color: #e4e4e4
  background-color: #e4e4e4
  border: 0
  height: 2px
.page-title
  font-size: 50px
  text-align: center
  padding: 40px
  background-color: #f3f3f3
  margin: 0 0 20px 0
  width: 100%
.main-wrapper
  background-color: #544580
.sidebar
  background-color: #fff
  padding: 20px
  margin: 20px 0
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
.table
  padding: 20px
  background-color: #fff
  margin: 20px
  &-
    &row
      width: 100%
      display: flex
      flex-wrap: wrap
      padding: 10px 0
    &col
      display: flex
      align-items: center
      &-
        &left
          justify-content: flex-start
        &right
          justify-content: flex-end
        &center
          justify-content: center
    &header
      background-color: #ccc
.remove-img
  background-color: #544580
  cursor: pointer
  border-radius: 50%
  padding: 5px
  width: 20px
  margin: 0 20px 0 0
  &:hover
    background-color: #866bd4
.cart-page
  &__
    &empty
      display: flex
      justify-content: center
      align-items: center
      background-color: #fff
      flex-direction: column
      padding: 30px
      margin: 20px auto
      h1
        font-size: 22px
    &summary
      font-weight: 700
      font-size: 18px
.single-product
  padding: 40px 0
  display: flex
  &:after
    content: ""
    display: table
    clear: both
  &__
    &image, &content
      padding: 40px
      background-color: #fff
      margin: 20px
      box-sizing: border-box
    &image
      img
        width: 100%
    &title
      font-size: 18px
      color: #000
      font-family: 'Raleway', sans-serif
      font-weight: 900
      margin-top: 0
    &price
      font-size: 20px
      font-weight: 900
      font-family: 'Roboto', sans-serif
      background-color: #544580
      color: #fff
      padding: 10px
      display: inline-block
  &-
    &row
      padding-bottom: 20px
      min-height: 44px
      font-weight: 900
      display: flex
      justify-content: space-between
      align-items: center
      &:last-child
        padding-bottom: 10px
      span
        color: #544580
    &cat
      .chip
        &:last-child
          margin-right: 0
    &colors
      display: flex
      i
        margin-right: 10px
        &:last-child
          margin-right: 0
.checkout
  margin: 40px auto
  .form
    display: flex
.form
  &-
    &row
      display: flex
      justify-content: space-between
      margin: 20px
    &section
      &-
        &title
          font-weight: 700
          font-size: 20px
          display: flex
          align-items: center
        &chip
          color: #000
          width: 34px
          margin-right: 10px !important
          font-size: 12px
          overflow: auto
          .chipText
            margin: 0 auto
  &--
    &light
      .form-section-title, .inputLabel
        color: #fff
.checkout-submit
  justify-content: center
  .btn
    width: 100%
    margin: 0 15px
    padding: 10px
.checkout-summary
  background-color: #fff
  padding: 20px
  margin-top: 78px
.checkout-summary__title
  justify-self: flex-start
  flex-grow: 2
.checkout-summary__product .remove-img
  margin-right: 10px
  height: 20px
.checkout-summary__product
  display: flex
  align-items: center
  min-height: 30px
  margin-bottom: 10px
.checkout-summary__total
  font-weight: 700
  justify-content: space-between
  align-items: center
  display: flex
.checkout-summary__image
  width: 100%
  max-width: 40px
  height: 100%