.single-product
  padding: 40px 0
  display: flex
  &:after
    content: ""
    display: table
    clear: both
  &__
    &image, &content
      padding: 40px
      background-color: #fff
      margin: 20px
      box-sizing: border-box
    &image
      img
        width: 100%
    &title
      font-size: 18px
      color: #000
      font-family: 'Raleway', sans-serif
      font-weight: 900
      margin-top: 0
    &price
      font-size: 20px
      font-weight: 900
      font-family: 'Roboto', sans-serif
      background-color: #544580
      color: #fff
      padding: 10px
      display: inline-block
  &-
    &row
      padding-bottom: 20px
      min-height: 44px
      font-weight: 900
      display: flex
      justify-content: space-between
      align-items: center
      &:last-child
        padding-bottom: 10px
      span
        color: #544580
    &cat
      .chip
        &:last-child
          margin-right: 0
    &colors
      display: flex
      i
        margin-right: 10px
        &:last-child
          margin-right: 0